@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --white: #ffffff;
  --whiteopacity: rgba(255, 255, 255, 0.2);
  --green: #00bc99;
  --blue: #125ba8;
  --orange: #e94e1b;
  --primary: #65b32e;
  --shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --shadow1: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  --gray: #b2b5c8;
  --grayopacity: rgba(178, 181, 200, 0.5);
  --bg: #f4f5fa;
  /* border:solid red 1px; */
}
.link {
  color: #ffffff;
  display: flex;
  text-decoration: none;
  position: relative;
  width: 80%;
  height: 100%;
  font-size: 0.9em;
  padding: 0.4em 0.5em;
  background-color: var(--primary);
  border-radius: 0 0.4em 0.4em 0;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
  transition: all 200ms ease-in-out;
  &.orange {
    background-color: var(--orange);
  }
  &.blue {
    background-color: var(--blue);
  }
  & > img {
    width: 21px;
    height: 23px;
  }
  @media only screen and (max-width: 600px) {
    background-color: transparent;
    color: var(--primary);
    width: 100%;
    & img {
      display: none;
    }
  }

  & > .animation {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 140px;
    text-align: start;
    color: var(--white);
    padding: 2px 8px;
    font-size: 0.8rem;
    right: 0;
    z-index: -1;
    border-radius: 0 4px 4px 0;
    background-color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    animation: appearCount 3s ease-in-out;

    @keyframes appearCount {
      0% {
        right: 0;
        opacity: 0;
      }
      20% {
        right: -140px;
        opacity: 1;
      }
      80% {
        right: -140px;
        opacity: 1;
      }
      100% {
        right: 0;
        opacity: 0;
      }
    }

    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.link:hover,
.link[aria-current="page"] {
  width: 85%;
  box-shadow: 0 5px 10px #0005;
  @media only screen and (max-width: 600px) {
    box-shadow: none;
    width: 100%;
  }
}

.index-link {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 1rem;

  &:last-child {
    margin-right: 0;
  }
}

.index-logo {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
}

.butrem {
  border-radius: 16px;
  background: linear-gradient(90deg, #0575e6 0%, #00f260 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
  justify-content: space-between;
  padding: 0px 30px 0px 40px;
  align-items: center;

  p {
    font-size: 16px;
    margin: 0px 50px 0px 0px;
  }
}

@keyframes fade {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes vertical {
  0% {
    background-color: var(--primary);
    transform: translateX(0);
  }
  50% {
    background-color: var(--primary);
    transform: translateX(100%);
  }
  100% {
    background-color: var(--primary);

    transform: translateX(0%);
  }
}

.swal2-success-ring {
  opacity: 0.3;
}

@keyframes vertical-in {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes horizontal-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--primary);
  box-shadow: inset 20px 20px 60px #bebebe, inset -20px -20px 60px #ffffff;
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 1em;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.modalA {
  background-color: var(--primary);
  border: none;
  width: 35px;
  height: 35px;
  color: #fff;
  margin: 1em;
  cursor: pointer;
  border-radius: 50%;
}

svg {
  width: 100%;
  height: 100%;
}
